# Python
__pycache__/
*.pyc
.venv/
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Large/raw data (uncomment if you don't want to commit raw CSVs to GitHub)
# data/raw/*.csv
# data/processed/*.csv

*.db
